/** 
* @author: Alexander Chi
* @description:
* @date: 13/Julio/2021
**/ 
@import url('https://fonts.googleapis.com/css?family=Barlow:600,700,800,900&display=swap');

* {
  margin: 0;
  padding:  0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

/** Header Style **/
header { 
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-repeat: no-repeat;
  height: calc(100vh - 80px); 
  background-size: 100%;
  background-image: url(./img/desktop/image-header.jpg);
  color: #FFF;
}

header> span.header__logo {
 
}

header> div.header__options { 
  width: 100%;  
}

header> div.header__options ul {  
  display: flex;
  justify-content: flex-end;
}

header> div.header__options> ul.header__options__list li{
  list-style-type: none; 
  padding-left: 1em; 
}

header> div.header__options> ul.header__options__list li a{
  text-decoration: none;
  color: #FFF;
}

section.section__about {
  
}


/** Movil **/
@media (max-width: 375px) { 
  /** Header Style **/
  header {  
    background-image: url(./img/mobile/image-header.jpg);
  }

  header> div.header__options { 
    display: none;  
  }
}
