/** 
* @author: Alexander Chi
* @description:
* @date: 13/Julio/2021
**/ 
@import url('https://fonts.google.com/specimen/Barlow');
@import url('https://fonts.google.com/specimen/Fraunces');

* {
  margin: 0;
  padding:  0;
  box-sizing: border-box;
  font-family: 'Barlow', 'Fraunces';  
}

a, p, span {
  font-size: 18px; 
}

/** Header Style **/
header { 
  padding: 2em;
  background-repeat: no-repeat;
  height: calc(100vh - 49vh); 
  background-size: 100%;
  background-image: url(./img/desktop/image-header.jpg);
  color: #FFF;
}

header> div.header__content {
  width: 100%;   
  display: flex; 
  font-size: 18px;
}

header> div.header__content> span.header__logo {
  padding: 0.5em 1em 0.5em 1em;
  cursor: pointer;
  content: url('img/svg/logo.svg');
}

header> div.header__content> div.header__options { 
  width: 100%;  
} 

header> div.header__content> div.header__options ul {  
  display: flex;
  justify-content: flex-end;
}

header> div.header__content> div.header__options> ul.header__options__list li{
  list-style-type: none; 
  padding: 0.5em 1em 0.5em 1em;
}

header> div.header__content> div.header__options> ul.header__options__list li a{
  width: 100%;
  text-decoration: none;
  color: #FFF; 
}

header> div.header__content> div.header__options> ul.header__options__list li:hover{
  text-decoration: none;
  background-color: #FFF; 
  border-radius: 3em;  
  cursor: pointer;
}

header> div.header__content> div.header__options> ul.header__options__list li:hover a{
  color: #000;
}

.header__options__mobile {
  display: none;
}

header> div.header__text {
  display:flex;
  justify-content: center;
  margin-top: 4em;
}

header> div.header__arrow {
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

/*transform: translate(-50%, -50%) rotate(45deg);*/
header> div.header__arrow> div.header__arrow__line {
  width:  2px;
  height: 65px;
  background: #FFF; 
  transition: all 0.5s ease-in-out;
  margin-bottom: -1em; 
  margin-top: 3.5em; 
  display: flex; 
}

header> div.header__arrow> div.header__arrow__triangule { 
  display: flex;
  width: 16px;
  height: 16px;
  border: solid #FFF;
  border-width: 0 2px 2px 0; 
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/** About **/
section> div.about__content { 
  padding: 0;
  display: flex;
  align-items: center; 
  color: hsl(210, 4%, 67%);
}


section> div.about__content> div.about__text { 
  padding: 2em;   
}

section> div.about__content> div.about__text> h2 {
  font-size: 35px;
  margin-bottom: 1em;   
  color: #000;
}

section> div.about__content> div.about__text> p { 
  margin-bottom: 2em;   
}

.about__learn__more {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #000;  
  position: static;
}

div.about__content> div.about__text> a.about__learn__more::after {
  content: ' ';
  width: 87px;
  height: 7px;
  border-radius: 3px;
  background: #FFF;
  transition: all 0.5s ease-in-out;
  margin-top: -0.3em;
  margin-left: -0.15em;
  display: flex; 
  opacity: 0.3;
}

div.about__transform> div.about__text> a.about__learn__more::after {
  background-color: hsl(51, 100%, 49%);
}

div.about__satnd__out> div.about__text> a.about__learn__more::after {
  background-color: hsl(7, 99%, 70%);
} 

section> div.about__content> div.about__text,
section> div.about__content> div.about__img { 
  width: 50%;
}

section> div.about__content.about__transform {
   
}

section> div.about__content.about__satnd__out {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -3px;
}

section> div.about__content> div.about__img img.transform {
  content: url(./img/desktop/image-transform.jpg);  
  width: 100%; 
}

section> div.about__content> div.about__img img.satnd__out {
  content: url(./img/desktop/image-stand-out.jpg);  
  width: 100%;
}

/** Services **/
.services__content {
  display: flex; 
  flex-direction: row;
  margin-top: -3px;
}

.services__img {
  display: flex;
  flex-direction: column;
  width: 50%
}

div.services__content> div.services__graphic> img.graphic {
  content: url(./img/desktop/image-graphic-design.jpg);
  width: 100%;
}

div.services__content> div.services__photography> img.photography {
  content: url(./img/desktop/image-photography.jpg);
  width: 100%;
}

div.services__content> div.services__graphic> div.services__img_content{
  color: hsl(167, 40%, 24%);
}

div.services__content> div.services__photography> div.services__img_content{
  color: hsl(198, 62%, 26%);
}

.services__img_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: -7.5em;
}

.services__img_content> h2 { 
  margin-bottom: 0.5em;
}

.services__img_content> p { 
  text-align:center;
}

/** Projects **/
section.section__projects {
  margin-top: 2em;
}

section.section__projects> h2 {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
}

.projects__container {
  display: flex;
  flex-direction: row;
}

.projects__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  
}

div.projects__content> img, 
div.projects__content> p {
  color: hsl(210, 4%, 67%);
  margin-bottom: 1.5em;
}

div.projects__content> span{
  color: hsl(210, 4%, 67%);
}

img.projects__img {
  border-radius: 50%;
  width: 75px; 
}

.projects__markenting__director {
  content: url('img/fotos/image-emily.jpg');
}

.projects__cheif__operating {
  content: url('img/fotos/image-thomas.jpg');
}

.projects__busines__owner {
  content: url('img/fotos/image-jennie.jpg');
}

.services__p {
  text-align: center;
}

/** Contact **/
.contact__imgs{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contact__imgs> div.contact__content> img.contact__milk{
  content: url("./img/desktop/image-gallery-milkbottles.jpg");
  width: 100%;
}

.contact__imgs> div.contact__content> img.contact__orange{
  content: url("./img/desktop/image-gallery-orange.jpg");
  width: 100%;
}

.contact__imgs> div.contact__content> img.contact__cone{
  content: url("./img/desktop/image-gallery-cone.jpg");
  width: 100%;
}

.contact__imgs> div.contact__content> img.contact__sugar{
  content: url("./img/desktop/image-gallery-sugarcubes.jpg");
  width: 100%;
}

.contact__footer {
   background-color: hsl(168, 34%, 41%);
   color: hsl(167, 40%, 24%);
   padding-bottom: 2em;
   margin-top: -3px;
}

.contact__footer h3 {
  display: flex;
  justify-content: center;
  padding: 2.5em 1em 0.5em 1em;
  font-size: 30px;
  /*content: url('img/svg/logo.svg');*/ 
}

.contact__options__list,
.contact__social__list { 
  width: 100%;  
  display: flex;
  justify-content: center;
} 
   
ul.contact__options__list li {
  list-style-type: none; 
  padding: 0.5em 1em 0.5em 1em;
}

ul.contact__options__list li a{
  width: 100%;
  text-decoration: none;
  color: hsl(167, 40%, 24%);
}
 
ul.contact__social__list li{
  list-style-type: none; 
  padding: 0.3em;
}

ul.contact__social__list li> a> img.facebook {
  content: url('img/svg/icon-facebook.svg');
}

ul.contact__social__list li> a> img.instagram {
  content: url('img/svg/icon-instagram.svg');
}

ul.contact__social__list li> a> img.twitter {
  content: url('img/svg/icon-twitter.svg');
}

ul.contact__social__list li> a> img.pinterest {
  content: url('img/svg/icon-pinterest.svg');
}
 

/** Movil **/
@media (max-width: 375px) { 
  /** Header Style **/
  header {  
    width: 100%;
    background-image: url(./img/mobile/image-header.jpg); 
    background-repeat: round;
  }

  header> div.header__content> div.header__options { 
    display: none;
  }

  .header__triagule__mobile {  
    margin-left: auto; 
    margin-right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent #FFF transparent
  }
  
  .header__options__mobile.active {
    display: inline;
    background-color: #FFF;
    text-align: center;
  }

  .header__options__list__mobile {
     
    background-color: #FFF; 
    padding: 2em 2em 1em 2em;
  }

  ul.header__options__list__mobile li a{
     
    text-decoration: none;
    color: hsl(210, 4%, 67%);  
  }
  
  ul.header__options__list__mobile li{
    padding-bottom: 1em;
  }

  ul.header__options__list__mobile li> a:hover{
    width: 5rem;
    background-color: hsl(51, 100%, 49%);
    border-radius: 30px;
    color: #FFF; 
    text-decoration: none;   
    cursor: pointer;
    padding: 0.7em 2em;
  }

  .header__text.active, 
  .header__arrow.active {
    display: none;
  }

  header> div.header__content> span.header__logo { 
     padding: 0;
     display: flex;
     flex-flow: column;
     justify-content: center;
  }

  header> div .header__toggle { 
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  header #toggle { 
    width: 100%;
    content: ' ';
    position: relative;
    width:  30px;
    height: 30px; 
    cursor: pointer; 
  }
  
  header .header__toggle__md {
    margin-top: 14px;
    content: ' ';
    position: absolute;
    width:  30px;
    height: 2px;
    background: #FFF; 
    transition: all 0.5s ease-in-out;
  }
  
  header #toggle::before {
    content: '';
    position: absolute;
    top: 7px;
    width:  100%;
    height: 2px;
    background: #FFF;
    transition: all 0.5s ease-in-out;
  }
  
  header #toggle::after {
    content: '';
    position: absolute;
    bottom: 7px;
    width:  100%;
    height: 2px;
    background: #FFF;
    transition: all 0.5s ease-in-out;
  } 
  
  header> div.header__arrow> div.header__arrow__line { 
    height: 100px;
    margin-top: 2.5em;  
  }

  section> div.about__content> div.about__text,
  section> div.about__content> div.about__img { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section> div.about__content> div.about__text> h2,
  section> div.about__content> div.about__text> p {
    text-align: center;
  }

  section> div.about__content { 
    flex-direction: column-reverse;
  }

  section> div.about__content.about__satnd__out { 
    flex-direction: column-reverse; 
  }

  .services__content { 
    flex-direction: column; 
  }
  
  .services__img {
    width: 100%;
  }
  
  div.services__content> div.services__graphic> img.graphic {
    content: url(./img/mobile/image-graphic-design.jpg);
    width: 100%;
  }

  div.services__content> div.services__photography> img.photography {
    content: url(./img/mobile/image-photography.jpg);
    width: 100%;
  }

  .services__img_content {
    margin-top: -9.1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  /** Proyects **/
  .projects__container {
    display: flex;
    flex-direction: column;
  }

  /** Contact **/
  .contact__imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .contact__imgs> div.contact__content {
    width: 50%;
    margin-bottom: -3px;
  }

  .contact__imgs> div.contact__content> img.contact__milk{
    content: url("./img/mobile/image-gallery-milkbottles.jpg"); 
  }
  
  .contact__imgs> div.contact__content> img.contact__orange{
    content: url("./img/mobile/image-gallery-orange.jpg"); 
  }
  
  .contact__imgs> div.contact__content> img.contact__cone{
    content: url("./img/mobile/image-gallery-cone.jpg"); 
  }
  
  .contact__imgs> div.contact__content> img.contact__sugar{
    content: url("./img/mobile/image-gallery-sugar-cubes.jpg"); 
  }

  .contact__footer { 
    margin-top: 0;
 }
}

/** Desktop **/
@media (min-width: 1440px) { 
   /** Header Style **/
  header {  
    height: calc(100vh - 46vh);  
  } 

  
}

@media (min-width: 1920px) { 
  /** Header Style **/
 header {  
   height: calc(100vh);  
 }
}

 