/** 
* @author: Alexander Chi
* @description:
* @date: 13/Julio/2021
**/ 
@import url('https://fonts.google.com/specimen/Barlow');
@import url('https://fonts.google.com/specimen/Fraunces');

* {
  margin: 0;
  padding:  0;
  box-sizing: border-box;
  font-family: 'Barlow', 'Fraunces'; 
}

/** Header Style **/
header { 
  padding: 2em;
  background-repeat: no-repeat;
  height: calc(100vh - 80px); 
  background-size: 100%;
  background-image: url(./img/desktop/image-header.jpg);
  color: #FFF;
}

header> div.header__content {
  width: 100%;   
  display: flex; 
  font-size: 18px;
}

header> div.header__content> span.header__logo {
  padding: 0.5em 1em 0.5em 1em;
  cursor: pointer;
}

header> div.header__content> div.header__options { 
  width: 100%;  
} 

header> div.header__content> div.header__options ul {  
  display: flex;
  justify-content: flex-end;
}

header> div.header__content> div.header__options> ul.header__options__list li{
  list-style-type: none; 
  padding: 0.5em 1em 0.5em 1em;
}

header> div.header__content> div.header__options> ul.header__options__list li a{
  width: 100%;
  text-decoration: none;
  color: #FFF; 
}

header> div.header__content> div.header__options> ul.header__options__list li:hover{
  text-decoration: none;
  background-color: #FFF; 
  border-radius: 3em;  
  cursor: pointer;
}

header> div.header__content> div.header__options> ul.header__options__list li:hover a{
  color: #000;
}

header> div.header__text {
  display:flex;
  justify-content: center;
  margin-top: 4em;
}



/** Movil **/
@media (max-width: 375px) { 
  /** Header Style **/
  header {  
    width: 100%;
    background-image: url(./img/mobile/image-header.jpg); 
    background-repeat: round;
  }

  header> div.header__content> div.header__options { 
    display: none;  
  }

  header> div.header__content> span.header__logo { 
     padding: 0;
     display: flex;
     flex-flow: column;
     justify-content: center;
  }

  header> div .header__toggle { 
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  header #toggle { 
    width: 100%;
    content: ' ';
    position: relative;
    width:  30px;
    height: 30px; 
    cursor: pointer; 
  }
  
  header .header__toggle__md {
    margin-top: 14px;
    content: ' ';
    position: absolute;
    width:  30px;
    height: 2px;
    background: #FFF; 
    transition: all 0.5s ease-in-out;
  }
  
  header #toggle::before {
    content: '';
    position: absolute;
    top: 7px;
    width:  100%;
    height: 2px;
    background: #FFF;
    transition: all 0.5s ease-in-out;
  }
  
  header #toggle::after {
    content: '';
    position: absolute;
    bottom: 7px;
    width:  100%;
    height: 2px;
    background: #FFF;
    transition: all 0.5s ease-in-out;
  } 
}
